.container {
  background-color: #fff;
  padding: 1rem;
}

.container > :first-child {
  margin-top: 0;
}

.container > :last-child {
  margin-bottom: 0;
}

@media (max-width: 32rem) {
  .container {
    min-height: 100vh;
  }
}

@media (min-width: 32rem) {
  .container {
    border: 1px solid #000;
    margin: 2rem auto;
    width: 32rem;
  }
}
