.container {
  background-color: #fff;
  border: 1px solid #000;
  margin: 2rem auto;
  padding: 1rem;
  width: 32rem;
}

.container :first-child {
  margin-top: 0;
}

.container :last-child {
  margin-bottom: 0;
}
